extends layout

block content
    h1= title
    p Welcome to #{title} room
    div(id="container")
    br
    br
    input(type='text', id="message")
    br
    br
    input(type='button', id="button",value='send message')
    br
    span(id='typing')
    script(src='/javascripts/chat.js')
    div(id="users-box")
    br
    span(id="count")
    div(id="snackbar")
