block content
  h1 welcome to chat.io
  h3 please join a room to chat.

  script.
      function onClick(obj) {
          let roomId = obj.id;
          document.location = `/room?roomId=${roomId}`;
      }
  div
      button(id="sports", onclick="onClick(this)")
        | Sports
      button(id="gaming", onclick="onClick(this)")
        | Gaming
      button(id="health", onclick="onClick(this)")
        | Health
      button(id="social", onclick="onClick(this)")
        | Social
      button(id="general", onclick="onClick(this)")
        | General
