doctype html
html
  head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
