extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action="/doLogin", method="POST")
        input(type="text", name="username", id="username")
        input(type="password", name="password", id="password")
        input(type="submit", value="Submit")